<!DOCTYPE html>
<html>
<head>
    <title>Air Quality Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="map"></div>
    <div id="chartContainer">
    <button id="closeChart">Close Chart</button>
    <canvas id="aqChart"></canvas>
    </div>

    <script>
        const locations = {{ locations|tojson }};
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
